<div class="mat-elevation-z3" fxLayout="row" fxLayoutAlign="center center">
    <mat-card *ngIf="isReset === false" >
        <mat-card-content>
            <form [formGroup]="resetPasswordForm">
                <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="20px" fxLayoutAlign="start center">
                    <div fxLayout="column" fxLayoutAlign="start center" class="input-row">
                        <mat-form-field>
                            <mat-label>{{ 'account.password' | translate }}</mat-label>
                            <input matInput placeholder="Password" formControlName="password" type="password"
                                maxlength="10">
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="start center" class="input-row">
                        <mat-form-field>
                            <mat-label>{{ 'account.passwordConfirm' | translate }}</mat-label>
                            <input matInput placeholder="PasswordConfirm" formControlName="passwordConfirm"
                                type="password" maxlength="10" (keyup.enter)="resetPassword()">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <span fxFlex></span>
            <button mat-raised-button (click)="resetPassword()">
                {{ 'account.resetRassword' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="isReset === true" >
        <mat-card-content *ngIf="resetSuccessful === true">
            <p>{{ 'account.resetRasswordSuccessful' | translate }}</p>
        </mat-card-content>
        <mat-card-content *ngIf="resetSuccessful === false">
            <p>{{ 'account.resetRasswordFailed' | translate }}</p>
        </mat-card-content>
    </mat-card>
</div>