$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Helvetica Neue', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

$app-width: 100rem;

// RESPONSIVE BREAKPOINTS

$bp-lx: 75em; // 1200px divided by 16 pixel which is browser default
$bp-l: 62.5em; // 1000px
$bp-m: 50em; // 800px
$bp-s: 37.5em; // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --app-width: 100rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-lx) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  min-width: 100vw;
}

.body-container {
  max-width: var(--app-width);
  margin: 0 auto;
}

.header {
  padding: 1rem;
  background-color: lightblue;
  position: absolute;
  min-height: 4rem;
  width: 100%;
  max-width: var(--app-width);
}

.main {
  padding: 1rem;
  padding-top: 8rem;

  min-height: 100rem;
  background-color: yellowgreen;
}

.footer {
  padding: 1rem;

  min-height: 4rem;
  background-color: lightslategrey;
}

