<div class="mat-elevation-z3" fxLayout="row" fxLayoutAlign="center center">
    <mat-card *ngIf="hasSubmitted === false">
      <mat-card-content>
        <form [formGroup]="forgotPasswordForm">
          <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="20px" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="start center" class="input-row">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="E-Mail" formControlName="email" autofocus>
                <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Required value.</mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Email is not in a valid format.</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <span fxFlex></span>
        <button mat-raised-button [disabled]="forgotPasswordForm.invalid" (click)="submit()">
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="hasSubmitted === true">
        <p>If your email '{{this.forgotPasswordForm.value.email}}' is registered in the system you will receive an email with a password reset link.</p>
    </mat-card>
  </div>
  