mat-toolbar {

  position: sticky;
  top: 0;
  // background-image: url("../../../assets/images/banner.jpg");

  ul {
    li {
      list-style-type: none;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}
