a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  flex-direction: row;

  .header__nav-items {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    padding: .5rem 6rem 0 2rem;
    font-size: 125%;;

    .header__nav-item {
      margin: 0 2rem;
      padding: 0.5rem;
    }
  }
}

